.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 754px;
  height: 415px;
  margin: 193px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 0 auto 60px;
  padding: 13px 52px 15px 51px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 187px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 125px;
}

.u-section-2 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 157px;
  min-width: 88px;
  white-space: nowrap;
  margin: 43px auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}